.last-sec {
    overflow: visible;
}
.event_page {
    position: absolute;
    margin-left: 140px;
    margin-right: auto;
    margin-top: -640px;
    height: 1000px;
    background-color: white;
    width: 1150px;
    align-content: center;
    border-radius: 5px;
   
} 

.blur-background {
    filter: blur(3px);
    -webkit-filter: blur(50px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    width: 100%;    
    margin-left: 0;
}

.real_image {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
        
}

.event-information {
    display: flex;
    height: 400px;
    background-color: rgba(230, 230, 230, 0.9);
    border-radius: 8px;
    
}

.event-information h1{
    color:black;
    font-size: 16px;
    margin-left: 830px;
    margin-right: 20px;
    margin-top: 30px;
    color: #1E0A3C;
    font-weight: 530;
    font-size: 20px;
    letter-spacing: .5px;
    word-break: break-word;
}

.design-place {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: inherit;
    height: 66px;

    width: 1150px;
    height: 66px;
    margin-top: 400px;
    border-style: solid;
    border-color: #DBDAE3;
    border-width: 1px 0;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.register_event {
    font-weight: 600;
    color: #FFF;
    background-color: #0D8547;
    margin-left: 880px;
    margin-top: 40px;
    display: inline-block;

    zoom: 1;
    transition: all .2s ease-out;
    vertical-align: middle;
    position: relative;
    height: 44px;
    border: 2px solid transparent;
    padding: 0 60px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    font-size: 15px;
    border-radius: 4px;
}

.event-description {
    margin-top: 30px;
    max-width: 600px;
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;    
    font-size: 20px;
    line-height: 1.8rem;
    margin-left: 130px;
    position: relative;
    color: darkblue
}

.event-description h1{
    margin-top: -56px;
    font-size: 1.8rem;
    line-height: 1.0rem;
    margin-bottom: 24px;
    color: orangered
    
}

.edit_event_container {
    font-weight: 600;
    color: #FFF;
    background-color: orangered;
    margin-left: 1020px;
    font-weight: 600;
    display: inline-block;
    margin-top: -126px;
    zoom: 1;
    transition: all .2s ease-out;
    vertical-align: middle;
    position: absolute;
    height: 38px;
    
    border: 2px solid transparent;
    padding: 0 53px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    font-size: 15px;
    border-radius: 4px;
}

.delete_event_container {
    font-weight: 600;
    color: #FFF;
    background-color: red;
    margin-left: 1020px;
    
    display: inline-block;
    font-weight: 600;
    zoom: 1;
    transition: all .2s ease-out;
    vertical-align: middle;
    position: absolute;
    height: 36px;
    margin-top: -60px;
    border: 2px solid transparent;
    padding: 0 44px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    font-size: 15px;
    border-radius: 4px;
}

.eventDate {
    margin-top: 30px;
    margin-bottom: 30px;
    color: purple;
    font-weight: 300
}
.eventName {
    margin-top: -10px;
    color: darkgoldenrod;
    font-weight: 300
}

.eventLocation {
    font-weight: 300;
    color: darkcyan
}

