* {
    margin: 0;
}
.splashpage {
    position: relative;
    margin-left: 20px;
    margin-top: 86px;
    height: 560px; 
    width: 98%;
    object-fit: fill;
}


.events {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.events a {
    color: black;
    text-decoration: none;
}

.events-content a:hover {
    text-decoration: underline;
}
.event_design {
    border: 2px solid  #e6e6e6;
    border-radius: 10px;
    height: 280px;
    margin-top: 20px;
    padding: 8px;
    width: 320px;
    
}

.event_design:hover {
    box-shadow: 0 0 10px grey;
}

.event-title {
    color: orangered;
    margin-left: 50px;
    margin-top: 10px;
    font-weight: bold;
}

.the_world {
    color: purple;
    font-weight: 600;
    font-size: 70%
}

.images {    
    padding-bottom: 10px;
}

.imgaes img {
    
    object-fit: cotain;
    width: 100%;
}

.event_name {
    font-weight: bold;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    text-align: center
}

.category_scroll {
    margin-top: 30px;
  margin-left: 5px;
}

.category_buttons {
    background-color: inherit;
  border: none;
  height: 30px;
  width: 118px;
  font-size: 18px;
  font-weight: 600;
  color: green;
  margin-left: 40px
}

.category_buttons:hover {
    border-width: 2px;
  border-bottom: green solid;
}