.footer_container {
    display: flex;
    position: absolute;
    margin-top: 360px;
    width: 100%;    
    background-color: orangered;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    letter-spacing: 0.00938em;
    padding: 28px;
    color: wheat;
    text-align: left;    
}

.footer_container div {
    margin-left: 60px
}

.footer_container a {
    color: black;
  font-size: 28px;
  margin-right: 30px;  
  
}