 form {
     border: 1px solid black
 }

 .login-form {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
 }
